/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,400;1,500&display=swap');

/* common styles */
body{
    font-family: 'Poppins', sans-serif; 
    
}
.div{
    font-size: 24px;
    color: #3A3A3A;
    margin-left: 70px ;
    
}
main{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    background-color: papayawhip;
    width: 1200px;
    border-radius: 5px;
    
    
}
.section-title{
    font-size: 30px;
    Width: 500px;
Height: 50px;
}
.products{
    Width: 582px;
    Height: 414px;
    color: #5f1e1e;
}
p{
    font-size: 16px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.link-button{
    text-decoration: none;
    background-image: #E02C6D;
    background-color: #E02C6D;
    border-radius: 20px;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    margin-top: 30px;
}
.camera img{
    Width: 400px;
    Height: 400px; 
    padding-left: 300px;
}
/* popular collection */
.container2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px ;
    background-color: papayawhip;
    width: 1150px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 60px;
    padding-left: 60px;
    padding-top: 50px;
}
.products{
    
    width: 300px;
    height: 400px; 
}
.products img{
    width: 250px;
    height: 200px;
}
.fa-star.filled{
    color: #FB8200;
    padding-top: 10px;
}
.link-button{
    text-decoration: none;
    text-align: center;
    color: white;
    margin-bottom: 30px;   
}
/* footer style*/
.footer{
    text-align: center;
    width: 1220px;
     height: 100px;
     color: white;
     background-color: #5E6366;
     border-radius: 5px;
     margin-left: 55px;
     
}
i{
    padding-bottom: 50px;
}
